body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Judul */
.title {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 600;
}

/* MAP */
.map-wrapper {
  width: 100%;
  background: #f0f0f0;
  padding: 10px;
  overflow: auto;
}

/* SVG RESPONSIVE */
.map-wrapper svg {
  width: 100%;
  height: auto;
  display: block;
}

/* SVG INTERAKSI */

/*rumah*/
svg path.bloka {
  fill: #ff1900;
  stroke: #333;
  stroke-width: 2;
  transition: 0.3s;
}

svg path.bloka:hover {
  fill: #ff9999;
}

svg path.bloka.active {
  fill: #8f0000;
}

svg path.blokb {
  fill: #00a1e8;
  stroke: #333;
  stroke-width: 2;
  transition: 0.3s;
}

svg path.blokb:hover {
  fill: #1c6889;
}

svg path.blokb.active {
  fill: #004f6e;
}

svg path.blokc {
  fill: #332c2b;
  stroke: #333;
  stroke-width: 2;
  transition: 0.3s;
}

svg path.blokc:hover {
  fill: #000000;
}

svg path.blokc.active {
  fill: #888888;
}

/* DETAIL */
.details-container {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 15px;
}

.info-table {
  font-size: 0.85rem;
}

.info-table th,
.info-table td {
  vertical-align: middle;
  white-space: nowrap;
}

.info-table td {
  background: #fff;
}

/* BARIS TABEL AKTIF */
.info-table tr.active {
  background-color: #d1e7dd !important; /* hijau lembut */
  color: #0f5132;
  font-weight: 600;
}

/* Hover biar jelas bisa diklik */
.info-table tbody tr:hover {
  background-color: #f1fdf7;
  cursor: pointer;
}

.map-label {
  font-size: 50px;
  font-weight: bold;
  fill: #ffffff;
  pointer-events: none; /* klik tetap ke path */
  user-select: none;
}

/*text color */
.text-orange {
  color: #ff7b00;
}

/*maps zoom*/
.map-wrapper {
  position: relative;
  height: 75vh;
  overflow: hidden;
  background: #f8f9fa;
  padding: auto;
}

/* ===== LOCK PNG + SVG ===== */
#mapZoom {
  position: absolute;
  inset: 0;
  transform-origin: 0 0; /* PENTING: biar zoom presisi */
}

/* STAGE RASIO SVG */
.map-stage {
  position: relative;
  margin-top: -10px;
  margin-left: 40px;
  width: 100%;
  aspect-ratio: 3 / 2; /* ⬅️ PENTING */
  overflow: hidden;
}

.map-base,
#mapZoom svg {
  position: absolute;
  inset: 0;
  width: 92%;
  height: 92%;
  object-fit: contain;
  pointer-events: auto;
}

.map-base {
  z-index: 1;
}
#mapZoom svg {
  z-index: 2;
}

.map-wrapper svg {
  width: 100%;
  height: 100%;
  user-select: none;
}

.map-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.map-controls button {
  background: white;
  border: 1px solid #ccc;
  padding: 4px 8px;
  cursor: pointer;
  z-index: 99999;
}

/* MOBILE */
@media (max-width: 768px) {
  .map-wrapper {
    padding: 5px;
  }
  .info-table {
    font-size: 0.75rem;
  }
  .maps-mobile {
    height: 250px;
  }
  /* STAGE RASIO SVG */
  .map-stage {
    position: relative;
    margin-left: -17px;
    margin-top: -3px;
    width: 120%;
    aspect-ratio: 3 / 2; /* ⬅️ PENTING */
    overflow: hidden;
  }
}
